<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mashimo{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Mashimo</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('main.login') }}">Login</a></li>
                    <li><a href="{{ url_for('main.register') }}">Sign Up</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                    <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
